<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139513441163-4hpq2265mm0jnrnghv7m76sp3abkop53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139513441163-4hpq2265mm0jnrnghv7m76sp3abkop53</string>
	<key>API_KEY</key>
	<string>AIzaSyBzClikqp6YkBDHe9vz6H-twiD7h-lqCG4</string>
	<key>GCM_SENDER_ID</key>
	<string>139513441163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metagame.stickman.warrior.fight</string>
	<key>PROJECT_ID</key>
	<string>metagame-93325</string>
	<key>STORAGE_BUCKET</key>
	<string>metagame-93325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139513441163:ios:21cea4172f40901d059d8e</string>
</dict>
</plist>